:root {
  /* colors from nord*/
  --color-red: rgb(191,97,106);
  --color-purple: rgb(180,142,173);
  --color-blue: rgb(94,129,172);
  --color-yellow: rgb(235,203,139);
  --color-green: rgb(163,190,140);
  --color-gray: rgb(216,222,233);
  --color-black: rgb(46,52,64);
  --color-white: rgb(255,255,255);
  --color-offwhite: rgb(236, 239, 244);
}

body {
  font-family: Georgia, serif;
  line-height: 1.5em;
  font-size: 1em;
  color: var(--color-black);
  background-color: var(--color-white);
  max-width: 40rem;
  padding: 2rem;
  margin: auto;
}

nav {
  margin-bottom: 1em;
}

nav > h1 {
  margin: 0;
  text-align: right;
  font-size: 1em;
  text-transform: lowercase;
}

nav > h1 > a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

a { text-decoration: underline; }
a:link { color: var(--color-black);  }
a:visited { color: var(--color-black);  }
a:focus { color: var(--color-red);  }
a:hover { color: var(--color-red);  }
a:active { color: var(--color-red);  }

h1,h2,h3,h4,h5,h6
{
  font-family: Arial, sans-serif;
  margin: 1em 0 0em 0;
}

header > h1 {
  text-transform: capitalize;
  margin-bottom: 0.25em;
}

header > time {
  font-size: 0.75em;
  margin-bottom: 2em;
}

header > time::before {
  content: "Updated on ";
}

footer {
  display: none;
}

.subpages {
  list-style: none;
  padding-inline-start: 0px;
}

.subpages > li {
  text-transform: capitalize;
  margin-bottom: 1em;
}

.subpages > li > time {
  font-size: 0.75em;
  float: right;
}

time {
  font-family: Arial, sans-serif;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-family: Georgia, serif;
}

blockquote
{
  padding: 0em 0em 0em 1em;
  margin: 0 0 1em;
  border-left: 5px solid var(--color-gray);
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.66em;
}

hr {
  height: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 0;
  border-top: 1px solid var(--color-gray);
}

pre, code {
  font-family: monospace;
  overflow: scroll;
}

pre {
  line-height: 1.25em;
  border: 1px dashed var(--color-gray);
  border-radius: 0.5em;
  padding: 1em;
}

figure {
  text-align: center;
}

figcaption {
  font-style: italic;
  text-align: center;
  margin-top: -0.5em;
}

.footnote-ref {
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.footnote-back {
  text-decoration: none;
  font-size: 0.8em;
  padding-left: 0.25em;
}

table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid var(--color-gray);
  margin: 1em 0;
}

th, td {
  padding: .25em 0em;
  vertical-align: top;
  text-align: left;
  border-bottom: 1px solid var(--color-gray);
}

ul, ol {
  padding-inline-start: 30px;
}

.book-details {
  font-size: 0.75em;
}

.book-details > p {
  margin-top: 0em;
  margin-bottom: 0em;
}

code span { color: #616e88; } /* Normal */
code span.al { color: #bf616a; font-weight: bold; } /* Alert */
code span.an { color: #d08770; } /* Annotation */
code span.at { color: #8fbcbb; } /* Attribute */
code span.bn { color: #b48ead; } /* BaseN */
code span.bu { color: #88c0d0; font-style: italic; } /* BuiltIn */
code span.cf { color: #81a1c1; font-weight: bold; } /* ControlFlow */
code span.ch { color: #ebcb8b; } /* Char */
code span.cn { color: #eceff4; font-weight: bold; } /* Constant */
code span.co { color: #9eadc8; font-style: italic; } /* Comment */
code span.cv { color: #e5e9f0; } /* CommentVar */
code span.do { color: #5e81ac; } /* Documentation */
code span.dt { color: #81a1c1; } /* DataType */
code span.dv { color: #b48ead; } /* DecVal */
code span.er { color: #bf616a; text-decoration: underline; } /* Error */
code span.ex { color: #8fbcbb; font-weight: bold; } /* Extension */
code span.fl { color: #b48ead; } /* Float */
code span.fu { color: #88c0d0; } /* Function */
code span.im { color: #a3be8c; } /* Import */
code span.in { color: #ebcb8b; } /* Information */
code span.kw { color: #81a1c1; font-weight: bold; } /* Keyword */
code span.op { color: #81a1c1; } /* Operator */
code span.ot { color: #8fbcbb; } /* Other */
code span.pp { color: #5e81ac; } /* Preprocessor */
code span.re { color: #88c0d0; } /* RegionMarker */
code span.sc { color: #ebcb8b; } /* SpecialChar */
code span.ss { color: #d08770; } /* SpecialString */
code span.st { color: #a3be8c; } /* String */
code span.va { color: #5e81ac; } /* Variable */
code span.vs { color: #8dae70; } /* VerbatimString */
code span.wa { color: #bf616a; } /* Warning */

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-offwhite);
    background-color: var(--color-black);
  }
  a:link { color: var(--color-offwhite);  }
  a:visited { color: var(--color-offwhite);  }
  /* pre {                             */
  /*   background: var(--color-black); */
  /* }                                 */
  code span { color: #d8dee9; } /* Normal */
}
